@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {

    margin: 0px;
    max-width: 1600px;

}

.header-banner .Offer-section .midnight-section {

    max-width: 1600px;
    margin-top: 50px;
}

.header-banner-section {
    background-image: url('images/Banner\ Image.png');
    max-width: 1320px;
    height: 600px;
    text-align: center;
    margin: 50px auto;

}

.hearder-banner-title {
    padding: 177px 530px 0px 530px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    color: rgb(224, 193, 135);
    font-family: Inter;
}

.hearder-banner-disciption {
    padding: 0px 344px 177px;
    color: hsl(0, 0%, 98%);
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;

}

.Mainsection {

    max-width: 1600px;

}

.Offer {

    max-width: 803px;
    margin: 120px auto;
}

.header-of-offer {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    font-family: Inter;

}

.offer-mid-discription {

    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.offer-discription {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-image img {
    margin-top: 48px;
    max-width: 802.9px;
    height: 500px;
}

.midnight-pary {

    background-image: url('images/Vectorrr.png');
    max-width: 1320px;
    height: 600px;
    text-align: left;
    margin: 120px auto;
    display: flex;
    align-items: center;

}

.midnight-party-contain-images {

    margin-left: 50px;

}

.midnight-party-header {

    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.midnight-party-contain {

    max-width: 642px;
    padding-top: 126px;
    padding-left: 126px;

}

.midnight-party-details {
    padding: 24px 0px 24px 0px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;


}

.midnight-party-join {

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

}

.New-park-Hotel {

    max-width: 1600px;

}

.new-park {
    margin: auto;
    padding-top: 100px;
    max-width: 1320px;
    width: 1320px;
    text-align: center;
    background-color: rgba(214, 147, 147, 0.63);
    border-radius: 30px;

}


.new-park .notes {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}

.new-park .notes span {
    color: #F00;
}

.new-park button {
    border: none;
    border-radius: 10px;
    background-color: #F00;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    gap: 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.btn {
    margin-top: 64px;
    text-align: center;

}

.New-offer {
    margin: 120px 0px 0px 0px;
    max-width: 1600px;
}

.new-offer-section-Container {

    margin: auto;
    max-width: 1320px;
    width: 1320px;
    border-radius: 30px;

}

.new-offer-section-Container {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.New-offer-Container {

    max-width: 440px;
    padding: 30px;


}

.New-offer-Container-header {

    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.New-offer-Container-header-second {

    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}

.New-offer-container-details {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.New-offer-img {
    width: 364.844px;
    border: 10px solid red;
    border-radius: 360px;
    padding: 30px;
}

.New-offer-Container-2024 {

    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}

.New-offer-container-details-2024 {

    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;

}

.Holiday-Sale-Section {

    max-width: 1600px;


}

.holyday-self-container {

    max-width: 1320px;
    margin: 120px auto;

}

.holyday-self {

    max-width: 868px;
    margin: auto;
}

.holyday-self-heading {

    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;

}

.holyday-self-secheding {

    color: rgb(27, 20, 20);
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}

.holyday-self-secheding span {

    color: rgb(245, 10, 10);
    padding-right: 20px;

}

.holiday-sel-details {

    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-top: 28px;
    line-height: 32px;

}


.discout-section {
    margin-top: 64px;
    width: 100%;
    display: flex;
    gap: 480px;
}

.discount-bacoungd {

    background-image: url('images/Rectangle\ 1.png');
}

.discount-bacoungd-one {
    width: 429px;
    height: 433px;

}

.d-img {
    margin: 0px;
    padding: 0px;
    padding: 100px 100px 0px 0px;
    text-align: right;

}

.background-div {
    background-color: #F00;
    width: 100%;
    height: 229px;
}

.Best-gift-section {
    max-width: 1600px;

}

.best-gift {

    max-width: 1320px;
    margin: 120px auto;
}

.best-gift-heder {

    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.best-gift-secondheader {


    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}

.best-gift-details {

    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    max-width: 896px;
    margin-top: 22px;

}

.gift {

    margin-top: 48px;
}

.gift-image {

    margin: 0px 5px;
}

.subscribe-section {

    max-width: 1600px;
}

.subcribe {

    max-width: 1320px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: auto;
    padding-bottom: 40px;

}

.subs-img {

    margin-top: 80px;
}

.subscribe-header {

    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}

.subscribe-details {
    margin: 10px 212px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.subscribe-input {
    outline: none;
    border: none;
    width: 648px;
    padding: 15px;
    font-size: 17px;
    border-radius: 50px 0px 0px 50px;
}

.btn-subscrib {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    padding: 10px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;

}

.section-footer {
    margin-top: 120px;
    max-width: 1600px;
    height: 609px;
    background: #070211;

}

.frist-footer {

    max-width: 1320px;
    margin: auto;
    display: flex;
    gap: 500px;

}

.address-container {
    max-width: 660px;
    width: 660px;
}

.address-container .address {

    margin: 140px 0px 0px 120px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.address-container .address-icon {
    margin: 140px 0px 0px 120px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;

}

.address-icon-s {
    margin: 0px 0px 0px 120px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;

}
.fa-phone{
 
   padding: 10px;

}
.fa-globe{

    padding: 10px;
}

.footer-socialicons {

    max-width: 1320px;
    margin: 98px auto;
    text-align: center;
}

.foote {

    max-width: 1320px;
    margin-top: 98px auto;
    display: flex;
    justify-content: space-between;

}

.foote>.allright-reserved {

    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-left: 140px;

}

.foote>.allright-reserved-subscribe{

    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-right: 120px;

}